# dependencies
node_modules/
.pnp
.pnp.*

# next.js
.next/
out/
build/
next-env.d.ts

# env — NEVER COMMIT THESE
.env
.env*.local
.env.local
.env.production

# vercel
.vercel

# typescript
*.tsbuildinfo

# testing
coverage/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# os / editor
.DS_Store
Thumbs.db
*.pem
.idea/
.vscode/*
!.vscode/extensions.json
